In [1]:
import requests
r = requests.get('https://www.nytimes.com/interactive/2017/06/23/opinion/trumps-lies.html')

In [2]:
print(r.text[0:1000])

<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]> <!--><html lang="en" class="no-js page-interactive section-opinion page-theme-standard tone-opinion page-interactive-default limit-small layout-xlarge app-interactive" itemid="https://www.nytimes.com/interactive/2017/06/23/opinion/trumps-lies.html" itemtype="http://schema.org/NewsArticle" itemscope xmlns:og="http://opengraphprotocol.org/schema/"><!--<![endif]-->
<!--[if IE 9]> <html lang="en" class="no-js ie9 lt-ie10 page-interactive section-opinion page-theme-standard tone-opinion page-interactive-default limit-small layout-xlarge app-interactive" xmlns:og="http://opengraphprotocol.org/schema/"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="no-js ie8 lt-ie10 lt-ie9 page-interactive section-opinion page-theme-standard tone-opinion page-interactive-default limit-small layout-xlarge app-interactive" xmlns:og="http://opengraphprotocol.org/schema/"> <![endif]-->
<!--[if (lt IE 8)]> <html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8 page-intera

In [3]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(r.text,'html.parser')

Structure
"<span class="short-desc"><strong> DATE </strong> LIE <span class="short-truth"><a href=URL> EXPLANATION </a></span></span>"

In [4]:
results = soup.find_all('span',attrs={'class':'short-desc'})

In [5]:
len(results)

180

In [6]:
results[0]

<span class="short-desc"><strong>Jan. 21 </strong>“I wasn't a fan of Iraq. I didn't want to go into Iraq.” <span class="short-truth"><a href="https://www.buzzfeed.com/andrewkaczynski/in-2002-donald-trump-said-he-supported-invading-iraq-on-the" target="_blank">(He was for an invasion before he was against it.)</a></span></span>

In [7]:
results[-1]

<span class="short-desc"><strong>Nov. 11 </strong>“I'd rather have him  – you know, work with him on the Ukraine than standing and arguing about whether or not  – because that whole thing was set up by the Democrats.” <span class="short-truth"><a href="https://www.nytimes.com/interactive/2017/12/10/us/politics/trump-and-russia.html" target="_blank">(There is no evidence that Democrats "set up" Russian interference in the election.)</a></span></span>

In [8]:
records = []
for result in results:
    DATE = result.find("strong").text[0:-1]+', 2017'
    LIE = result.contents[1][1:-2]
    EXPLANATION = result.find('a').text[1:-1]
    URL = result.find('a')['href']
    records.append([DATE, LIE, EXPLANATION, URL])

In [9]:
len(records)

180

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(records, columns=['date', 'lie','explanation','url'])

In [12]:
df['date'] = pd.to_datetime(df['date'])

In [13]:
df.head()

,date,lie,explanation,url
0,2017-01-21,I wasn't a fan of Iraq. I didn't want to go in...,He was for an invasion before he was against it.,https://www.buzzfeed.com/andrewkaczynski/in-20...
1,2017-01-21,A reporter for Time magazine — and I have been...,Trump was on the cover 11 times and Nixon appe...,http://nation.time.com/2013/11/06/10-things-yo...
2,2017-01-23,Between 3 million and 5 million illegal votes ...,There's no evidence of illegal voting.,https://www.nytimes.com/2017/01/23/us/politics...
3,2017-01-25,"Now, the audience was the biggest ever. But th...",Official aerial photos show Obama's 2009 inaug...,https://www.nytimes.com/2017/01/21/us/politics...
4,2017-01-25,Take a look at the Pew reports (which show vot...,The report never mentioned voter fraud.,https://www.nytimes.com/2017/01/24/us/politics...

In [15]:
df.describe()

,date,lie,explanation,url
count,180,180,180,180
unique,91,179,140,116
top,2017-06-21 00:00:00,We're the highest-taxed nation in the world.,We're not.,https://www.washingtonpost.com/news/fact-check...
freq,8,2,16,16
first,2017-01-21 00:00:00,NaN,NaN,NaN
last,2017-11-11 00:00:00,NaN,NaN,NaN

In [16]:
df[df.lie.duplicated()]

,date,lie,explanation,url
159,2017-10-10,We're the highest-taxed nation in the world.,We're not.,http://www.politifact.com/truth-o-meter/statem...